body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#h {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width:100px;
    height: 55px;
}

#sidebar {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgb(218, 225, 228);
    width: 15%;
    height: calc(100% - 70px);
    text-align: center;
    padding-top: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    margin: 20px 0;
}

#sidebar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}



.image-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 80px; /* Add this line to push the images below the heading */
    padding: 20px;
    gap: 20px;
    justify-content: flex-start;
}


.image-box {
    width: 28%; /* ~3 boxes fit in one row */
    text-align: center;
}

.image-box img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
}

.image-box p {
    margin: 5px 0;
    font-weight: bold;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.button-container button {
    padding: 10px 10px;
    width: 40%;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #45a049;
}
